@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer components {
  .glass-insight {
    background: rgba(239, 244, 255, 0.8);
    backdrop-filter: blur(16px);
  }

  .signature-gradient {
    background: linear-gradient(135deg, #0058be 0%, #2170e4 100%);
  }
}
